/* #423f9c-#6648b1 #702c6e #862359 */
$blue: #6648b1;
$purple: #702c6e;
$magenta: #862359;

$list: $blue, $purple, $magenta;

@mixin gradient($direction, $list) { 
    background: -webkit-linear-gradient($direction, $list);
    background: -moz-linear-gradient($direction, $list);
    background: -o-linear-gradient($direction, $list);
    background: linear-gradient($direction, $list);  
  }

.navig-backg{
    @include gradient(left, $list); 
}
